[Desktop Entry]
Name=Zen COunt
Comment=Beautiful countdown widget with multiple timers
Icon=chronometer
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=MD
X-KDE-PluginInfo-Email=https://x.com/_i_amMD
X-KDE-PluginInfo-Name=com.example.countdown
X-KDE-PluginInfo-Version=beta v0.1
X-KDE-PluginInfo-Website=https://github.com/iamMD01/Zen-Count
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-License=GPL-3.0+

